<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NekoCloud</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/announcement.css">
</head>

<body>
    <section class="hero">
        <canvas id="particleCanvas"></canvas>
        <div class="announcement-content">
            <div class="announcement-image">
                <img src="../assets/images/neko_error.png" alt="NekoCloud Platform" class="floating-image" />
            </div>

            <div class="announcement-container">
                <div class="announcement-card">
                    <div class="announcement-header">
                        <h2>¡Error!</h2>
                        <p>Ha ocurrido un error</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script defer src="../assets/js/particles.js"></script>
</body>

</html>